<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Wid'op</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="{{ url('app_login') }}"><i class="fa fa-sign-out-alt"></i> Login</a>
            <a class="nav-link" href="{{ url('app_register') }}"><i class="fa fa-sign-out-alt"></i> Register</a>
            <a class="nav-link" href="{{ url('app_logout') }}"><i class="fa fa-sign-out-alt"></i> Logout</a>
        </div>
    </div>

</nav>